<div class="top-box-info">
    <h1 class="title-text">GANADOR!</h1>
  </div>
  <div class="container-candi">
    <div class="content">
      <div class="carousel-container">
        <app-carousel side="left" [currentSlideIndex]="0"></app-carousel>
      </div>
      <div class="text-and-image">
        <p>Segun la informacion recopilada y analizada, en materia de Seguridad --- tiene una mejor imagen frente a su rival ---, sin embargo, se debe tener en cuenta su sentimiento negativo destacado puesto que podria afectarle en las elecciones. </p>
      </div>
    </div>
  </div>
  <button class="center-button" (click)="navigate()">
    Jugar de Nuevo
  </button>
  