/* Estilos para la imagen del candidato */
.candidate-image {
  display: block; /* Evita espacio extra alrededor de la imagen */
  max-width: 100%; /* Opcional: para asegurar que la imagen no sobrepase su contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  position: relative; /* 'relative', 'absolute', o 'fixed' dependiendo de tu layout */
  z-index: 2; /* Asegúrate de que este número sea adecuado para que la imagen no quede oculta detrás de otros elementos */

  max-height: 300px; /* Ajusta la altura máxima según tus necesidades */
}

/* Si tu imagen está posicionada de manera absoluta, es posible que necesites posicionar su contenedor relativo a ella */
.image-container {
  position: relative;
  overflow: hidden;
  margin-left: 120px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; /* Ajusta según tus necesidades */
  height: auto; /* Deja que la altura se ajuste automáticamente según el contenido */
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.202);
  font-family: 'ArcadeGamer', sans-serif;
  font-size: 0.7em;
  gap: 30px;
}

.info-container {
  position: relative;
  overflow: hidden;
  margin-top: 70px;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 730px; /* Ajusta según tus necesidades */
  height: 550px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Asegura que el recuadro esté encima del fondo */
  background-color: rgba(255, 255, 255, 0.202);
  font-family: 'ArcadeGamer', sans-serif;
  font-size: 0.7em;
  gap: 30px;
}

.full {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.top-box {
  position: absolute;
  left: 50%;
  color: #f0f8ff;
  transform: translateX(-50%);
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 40px; /* Ajusta según dónde quieras que aparezca en la parte superior */
  width: 80%; /* Ajusta según tus necesidades */
  height: 68px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Asegura que el recuadro esté encima del fondo */
  background: linear-gradient(to right, rgb(8, 0, 255), #5c83e6);
  font-family: 'ArcadeGamer', sans-serif;
}

.title-text {
  font-size: 1.5em;
  align-items: center;
}

.tweet {
  font-size: 1.5em;
  align-items: center;
  z-index: 1;
  font-family: 'ArcadeGamer', sans-serif;
  font-size: 1em;
  color: aliceblue;
}

.center-button {
  display: block; /* Aseguramos que el botón sea un bloque para aplicar márgenes */
  margin-top: 30px;
  margin-right: 220px;
  margin-left: 200px;/* Margen superior e inferior de 40px y centrado horizontalmente */
  padding: 10px 20px; /* Espaciado interno del botón */
  background-color: red; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Eliminar el borde por defecto */
  border-radius: 30px; /* Esquinas redondeadas */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón sobre el botón */
  font-size: 1.2em; /* Tamaño del texto */
  position: relative; /* Asegura un posicionamiento relativo */
  z-index: 10;
  width: 70%;
  font-family: 'ArcadeGamer', sans-serif;
  top: 35px;
}

.center-button:hover {
  background-color: #45a049; /* Cambiar el color de fondo al pasar el ratón sobre el botón */
}

.candidate-container {
  display: flex;
  justify-content: space-between; /* Coloca a los candidatos uno a la izquierda y otro a la derecha */
  align-items: center;
  gap: 20px;
}

.candidate-left ,
.candidate-right {
  text-align: center;
  width: 48%;
  margin-top: 150px; /* Agregar margen en la parte superior para alinear verticalmente las imágenes */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em; /* Ajusta el tamaño de fuente según tus necesidades */
}

.top-box2 {
  position: relative;
  margin-right: 120px;
  margin-left: 120px;
  color: #f0f8ff;
  display:flex;
  justify-content: center;
  align-items: center;
  top: 40px; /* Ajusta según dónde quieras que aparezca en la parte superior */
  width: 80%; /* Ajusta según tus necesidades */
  height: 68px;
  z-index: 1; /* Asegura que el recuadro esté encima del fondo */
  font-family: 'ArcadeGamer', sans-serif;
}
