<div class="home-background">
  <div class="top-box">
    <h1 class="title-text">Bogota Fight</h1>
  </div>

  <button class="center-button">Haga Click Aqui <br>
     para conocer a los candidatos a la <br>
     Alcaldia de Bogota de otra manera </button> <!-- Aquí agregamos el botón -->

  <div class="top-box-footer">
    <img src="/assets/images/alcaldia.png" alt="Imagen 1" class="footer-image-alcaldia">
    <img src="/assets/images/javeriana.png" alt="Imagen 2" class="footer-image-jave">
    <img src="/assets/images/x.png" alt="Imagen 3" class="footer-image-x">
  </div>
</div>
